#navbar {
    display: flex;
    justify-content: space-evenly;
    background: #334450;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 50px;
    color: #C0D6DF;
    font-size: 28px;
}
  
#navbar a {
    color: #C0D6DF;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.2s;
}
  
#navbar a:hover {
    color: #7da7c1;
}